@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("reset.css");
body {
  background: #373c55;
  font-family: "Open Sans", sans-serif;
}

#header {
  .container {
    margin: 0 auto;
    .header__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 157px;
      width: 100%;
      background: #1b1b1b;
      .header_content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        .header__logo {
          .header__logo-img {
            width: 123px;
            height: 123px;
          }
        }
        .header_right {
          display: flex;
          margin-right: 0px;
          margin-left: auto;
          align-items: center;
          .bag {
            cursor: pointer;
            padding-right: 20px;
            .bag__img {
              width: 40px;
              height: 40px;
            }
          }
          .serch {
            input {
              width: 200px;
              border: none;
              border-bottom: 2px solid #fff;
              font-family: "Open Sans", sans-serif;
              outline: none;
              padding: 5px 0;
              background: transparent;
              color: #fff;
              padding-left: 6px;
              input::placeholder {
                color: #fff;
              }
            }
            .serch__img {
              width: 40px;
              height: 40px;
            }
          }
          .profile {
            margin-left: 60px;
            cursor: pointer;
            display: flex;
            .login {
              color: #fff;
              display: flex;
              font-size: 20px;
              font-weight: 700;
              margin-left: 10px;
              margin-top: 6px;
            }
            .profile__img {
              width: 40px;
              height: 40px;
            }
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #444;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        /* height: calc(var(--index) * 35); */
        object-fit: cover;
        object-position: center;
      }
      .description {
        position: absolute;
        border-radius: 35px 35px 0 0;
        z-index: 1;
        background: rgba(34, 35, 38, 0.85);
        width: calc(var(--index) * 31.5);
        height: calc(var(--index) * 13.5);
        /* margin-left: 112px; */
        margin-left: calc(var(--index) * 4.2);
        text-align: left;
        bottom: 0px;
        left: 10px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        h1 {
          font-weight: 900;
          font-size: calc(var(--index) * 2.2);
          color: #fff;
          margin-left: 40px;
          margin-top: calc(var(--index) * 1.7);
          -webkit-text-stroke: 3px black;
        }

        h2 {
          font-weight: 800;
          font-size: calc(var(--index) * 2);
          color: #fff;
          margin-left: 40px;
          margin-top: 15px;
          margin-top: calc(var(--index) * 1);
          -webkit-text-stroke: 2px black;
        }
        button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: calc(var(--index) * 9.5);
          /* height: 78px; */
          height: calc(var(--index) * 3);
          border-radius: 10px;
          background: #080808;
          margin-left: 40px;
          margin-top: calc(var(--index) * 1);
          font-weight: 600;
          font-size: calc(var(--index) * 1.2);
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

&::-webkit-scrollbar {
  height: 8px;
}

&::-webkit-scrollbar-track {
  background: #222225;
  border-radius: 4px;
}

&::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

&::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main {
  margin-top: calc(var(--index) * 2);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  .title {
    font-weight: 700;
    font-size: calc(var(--index) * 2);
    color: #fff;
    display: flex;
    text-align: left;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    .catalog {
      margin-top: calc(var(--index) * 1.5);
      display: flex;
      gap: calc(var(--index) * 3);
      flex-direction: column;
      .title {
        font-weight: 700;
        font-size: calc(var(--index) * 1.7);
        color: #fff;
      }
      .list {
        display: flex;
        gap: calc(var(--index) * 1.6);
        margin-top: calc(var(--index) * 2);
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        /* white-space: nowrap; */
        -webkit-overflow-scrolling: touch;
        scrollbar-width: thin;
        scrollbar-color: #888 #222225;
        flex-direction: row;
        .list_item {
          /* min-width: calc(var(--index) * 11); */
          display: flex;
          flex-direction: column;
          /* flex-shrink: 0; */
          height: calc(var(--index) * 16.2);
          background: #222225;
          .img {
            width: 303px;
            /* height: 178px; */
            object-fit: cover;
            object-position: center;
          }
          .star {
            margin-top: calc(var(--index) * 0.88);
            margin-left: calc(var(--index) * 0.5);
            width: calc(var(--index) * 5);
          }
          .name {
            font-weight: 700;
            margin-left: calc(var(--index) * 0.5);
            margin-top: calc(var(--index) * 0.4);
            font-size: calc(var(--index) * 0.9);
            color: #fff;
          }
          .price {
            border-radius: 5px;
            padding-left: calc(var(--index) * 0.2);
            margin-left: calc(var(--index) * 0.5);
            margin-top: calc(var(--index) * 0.4);
            width: calc(var(--index) * 3);
            height: calc(var(--index) * 1.2);
            background: #36c03a;
            -webkit-text-stroke: 1px black;
            h1 {
              font-weight: 700;
              font-size: calc(var(--index) * 0.9);
              color: #fff;
            }
          }
          .description {
            font-weight: 600;
            font-size: calc(var(--index) * 0.49);
            margin-left: calc(var(--index) * 0.5);
            margin-top: calc(var(--index) * 0.4);
            width: calc(var(--index) * 9);
            white-space: normal;
            color: #fff;
          }
          .link {
            display: block;
            width: calc(var(--index) * 4);
            height: calc(var(--index) * 1.6);
            text-align: center;
            padding-top: calc(var(--index) * 0.38);
            margin-left: calc(var(--index) * 0.5);
            margin-top: calc(var(--index) * 0.5);
            border-radius: 10px;
            background: #414040;
            font-weight: 600;
            font-size: calc(var(--index) * 0.6);
            color: #fff;
          }
        }
      }
    }
  }
}

#footer {
  background: #222225;
  width: 100%;
  height: auto;
  margin-top: calc(var(--index) * 7);
  .container {
    margin-left: auto;
    margin-right: auto;
    .footer__inner {
      .footer__content {
        /* width: calc(var(--index) * 50); */
        padding-top: calc(var(--index) * 1);
        padding-left: calc(var(--index) * 10);
        padding-right: calc(var(--index) * 10);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        .stol_one {
          /* padding-top: 111px; */
          p {
            font-weight: 700;
            font-size: 22px;
            color: #fff;
            margin-top: 15px;
          }
        }
        .stol_two {
          /* padding-top: 72px; */

          p {
            font-weight: 700;
            font-size: 22px;
            color: #fff;
            margin-top: 15px;
          }
        }
        .stol_three {
          /* padding-top: 72px; */
          p {
            font-weight: 700;
            font-size: 20px;
            color: #fff;
            margin-top: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #heade {
    .container {
      .swiper-slide {
        .description {
          position: absolute;
          border-radius: 35px 35px 0 0;
          z-index: 1;
          background: rgba(34, 35, 38, 0.85);
          width: 47%;
          height: 287px;
          margin-left: 112px;
          text-align: left;
          bottom: 0px;
          left: 10px;
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          h2 {
            font-weight: 700;
            /* font-size: 2.5em; */
            font-size: 1.7em;
            color: #fff;
            margin-left: 40px;
            margin-top: 15px;
            -webkit-text-stroke: 1px black;
          }
          button {
            width: 7em;
            height: 70px;
            border-radius: 10px;
            background: #080808;
            margin-left: 40px;
            margin-top: 18px;
            font-weight: 600;
            font-size: 1.3em;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  #header {
    & .container {
      & .header__inner {
        & .header_content {
          .header_right {
            display: flex;
            margin-right: 0px;
            margin-left: auto;
            align-items: center;
            .serch {
              margin-right: 20px;
              input {
                width: 100px;
              }
            }
            .profile {
              margin-left: 20px;
              .login {
                font-size: calc(var(--index) * 0.9);
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
  main {
    & .container {
      & .catalog {
        & .list {
          & .list_item {
            .price {
              h1 {
                -webkit-text-stroke: 0px black;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 825px) {
  #footer {
    & .container {
      & .footer__inner {
        .footer__content {
          padding-left: calc(var(--index) * 10);
          padding-right: calc(var(--index) * 10);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: calc(var(--index) * 6);
          flex-direction: row;
          margin-left: auto;
          margin-right: auto;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    & .container {
      & .header__inner {
        & .header_content {
          .header_right {
            .profile {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .serch {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 634px) {
  #header {
    & .container {
      & .header__inner {
        & .header_content {
          & .header_right {
            .serch {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  #footer {
    & .container {
      & .footer__inner {
        .footer__content {
          padding-left: calc(var(--index) * 5);
          padding-right: calc(var(--index) * 5);
          gap: calc(var(--index) * 5);
          text-align: center;
          .stol_one {
            p {
              font-size: calc(var(--index) * 1.7);
            }
          }
          .stol_two {
            p {
              font-size: calc(var(--index) * 1.7);
            }
          }
          .stol_three {
            padding-bottom: calc(var(--index) * 3);
            p {
              font-size: calc(var(--index) * 1.7);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  #header {
    & .container {
      & .header__inner {
        & .header_content {
          & .header_right {
            & .profile {
              .login {
                display: none;
              }
            }
            .bag {
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}
