@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("reset.css");
body {
  background: #373c55;
  font-family: "Open Sans", sans-serif;
}
#header {
  .container {
    margin: 0 auto;
    .header__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 157px;
      width: 100%;
      background: #1b1b1b;
      .header_content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        .header__logo {
          .header__logo-img {
            width: 123px;
            height: 123px;
          }
        }
        .header_right {
          display: flex;
          margin-right: 0px;
          margin-left: auto;
          align-items: center;
          .bag {
            cursor: pointer;
            padding-right: 20px;
            .bag__img {
              width: 40px;
              height: 40px;
            }
          }
          .serch {
            input {
              width: 200px;
              border: none;
              border-bottom: 2px solid #fff;
              font-family: "Open Sans", sans-serif;
              outline: none;
              padding: 5px 0;
              background: transparent;
              color: #fff;
              padding-left: 6px;
              input::placeholder {
                color: #fff;
              }
            }
            .serch__img {
              width: 40px;
              height: 40px;
            }
          }
          .profile {
            margin-left: 60px;
            cursor: pointer;
            display: flex;
            .login {
              color: #fff;
              display: flex;
              font-size: 20px;
              font-weight: 700;
              margin-left: 10px;
              margin-top: 6px;
            }
            .profile__img {
              width: 40px;
              height: 40px;
            }
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

&::-webkit-scrollbar {
  height: 8px;
}

&::-webkit-scrollbar-track {
  background: #222225;
  border-radius: 4px;
}

&::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

&::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main {
  margin-top: calc(var(--index) * 2);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  .title {
    font-weight: 700;
    font-size: calc(var(--index) * 2);
    color: #fff;
    display: flex;
    text-align: left;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    .content {
      display: flex;
      margin-top: calc(var(--index) * 1.5);
      justify-content: space-between;
      gap: calc(var(--index) * 4.6);
      flex-wrap: wrap;
      .info {
        gap: 20px;
        display: flex;
        flex-direction: column;
        .name {
          font-weight: 700;
          font-size: calc(var(--index) * 1.7);
          color: #fff;
        }
        h4 {
          font-weight: 700;
          font-size: calc(var(--index) * 1);
          color: #fff;
        }
        .passwor {
          display: flex;
          img {
            margin-left: 20px;
            cursor: pointer;
            width: calc(var(--index) * 1.5);
          }
        }
      }
      .my_plays {
        .title {
          font-weight: 700;
          font-size: calc(var(--index) * 1.7);
          color: #fff;
        }
        .list {
          margin-top: 50px;
          display: flex;
          /* width: 80%; */
          width: calc(var(--index) * 34.6);
          gap: calc(var(--index) * 1.6);
          overflow-x: auto;
          overflow-y: hidden;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
          scrollbar-width: thin;
          scrollbar-color: #888 #222225;
          .list_one {
            width: 303px;
            height: 449px;
            background: #222225;
            flex: 0 0 auto;
            img {
              width: 303px;
              height: 181px;
              object-fit: cover;
            }
            .name {
              font-weight: 700;
              margin-left: 15px;
              margin-top: 11px;
              font-size: 24px;
              color: #fff;
            }
            .price {
              border-radius: 5px;
              padding-left: 6px;
              margin-left: 15px;
              margin-top: 11px;
              width: 81px;
              height: 35px;
              background: #36c03a;
              -webkit-text-stroke: 1px black;
              h1 {
                font-weight: 700;
                font-size: 24px;
                color: #fff;
              }
            }
            .description {
              font-weight: 600;
              font-size: 15px;
              margin-left: 15px;
              margin-top: 11px;
              color: #fff;
            }
            .link {
              display: block;
              width: 111px;
              height: 45px;
              text-align: center;
              padding-top: 10px;
              margin-left: 10px;
              margin-top: 14px;
              border-radius: 10px;
              background: #414040;
              font-weight: 600;
              font-size: 17px;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

#footer {
  background: #222225;
  width: 100%;
  height: auto;
  margin-top: calc(var(--index) * 7);
  .container {
    margin-left: auto;
    margin-right: auto;
    .footer__inner {
      .footer__content {
        padding-top: calc(var(--index) * 1);
        padding-left: calc(var(--index) * 10);
        padding-right: calc(var(--index) * 10);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        flex-wrap: wrap;
        .stol_one {
          p {
            font-weight: 700;
            font-size: 22px;
            color: #fff;
            margin-top: 15px;
          }
        }
        .stol_two {
          p {
            font-weight: 700;
            font-size: 22px;
            color: #fff;
            margin-top: 15px;
          }
        }
        .stol_three {
          p {
            font-weight: 700;
            font-size: 20px;
            color: #fff;
            margin-top: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #heade {
    .container {
      .swiper-slide {
        .description {
          position: absolute;
          border-radius: 35px 35px 0 0;
          z-index: 1;
          background: rgba(34, 35, 38, 0.85);
          width: 47%;
          height: 287px;
          margin-left: 112px;
          text-align: left;
          bottom: 0px;
          left: 10px;
          color: #fff;
          font-size: 20px;
          font-weight: 700;
          h2 {
            font-weight: 700;
            font-size: 1.7em;
            color: #fff;
            margin-left: 40px;
            margin-top: 15px;
            -webkit-text-stroke: 1px black;
          }
          button {
            width: 7em;
            height: 70px;
            border-radius: 10px;
            background: #080808;
            margin-left: 40px;
            margin-top: 18px;
            font-weight: 600;
            font-size: 1.3em;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .list {
    overflow-x: scroll;
  }
}

@media (max-width: 1024px) {
  #header {
    & .container {
      & .header__inner {
        & .header_content {
          .header_right {
            display: flex;
            margin-right: 0px;
            margin-left: auto;
            align-items: center;
            .serch {
              margin-right: 20px;
              input {
                width: 100px;
              }
            }
            .profile {
              margin-left: 20px;
              .login {
                font-size: calc(var(--index) * 0.9);
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 825px) {
  #footer {
    & .container {
      & .footer__inner {
        .footer__content {
          padding-left: calc(var(--index) * 10);
          padding-right: calc(var(--index) * 10);
          display: flex;
          align-items: center;
          justify-content: center;
          gap: calc(var(--index) * 6);
          flex-direction: row;
          margin-left: auto;
          margin-right: auto;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #header {
    & .container {
      & .header__inner {
        & .header_content {
          .header_right {
            .profile {
              display: flex;
              flex-direction: column;
              align-items: center;
            }
            .serch {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 634px) {
  #header {
    & .container {
      & .header__inner {
        & .header_content {
          & .header_right {
            .serch {
              display: none;
            }
          }
        }
      }
    }
  }
  main {
    & .container {
      & .content {
        & .my_plays {
          .list {
            width: calc(var(--index) * 33);
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  main {
    & .container {
      & .content {
        & .my_plays {
          .list {
            width: calc(var(--index) * 28);
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  main {
    & .container {
      & .content {
        & .my_plays {
          .list {
            width: calc(var(--index) * 26);
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  main {
    & .container {
      & .content {
        & .my_plays {
          .list {
            width: calc(var(--index) * 26);
          }
        }
      }
    }
  }
}